@tailwind base;

@tailwind components;

button:focus {
  outline: none;
}

.tab-heading {
  height: 40px;
}

.CodeMirror {
  height: calc(100% - 40px);
}

.CodeMirror-gutter {
  background: #111320;
}

@tailwind utilities;
